@import "App";

.cost_table {
    width: 50vw;
    flex-grow: 1;
    margin: auto;
    min-height: 20vh;
}

.cost_element {
    @include flex_around;
}

.cost_elements {
    position: relative;
}

.cost_element_param {
    display: block;
    width: 50px;
    text-align: initial;
}

.cost_headers {
    @include flex_around;
}

#modalWindowBlock {
    position: absolute;
    right: 0;
}

#modalWindow {
    padding: 5px;
    box-sizing: border-box;
    @include roundingBorder;
    @include first_style
}