@import "App";

.cost_table {
    width: 50vw;
    flex-grow: 1;
    margin: auto;
}

.cost_element {
    @include flex_around;
}

.cost_elements {
    position: relative;
}

.cost_element_param {
    display: block;
    width: 50px;
    text-align: initial;
}

.cost_headers {
    @include flex_around;
}

#modalWindowBlock {
    position: absolute;
    right: 0;
}

#modalWindow {
    border-radius: 5px;
    border-color: transparent;
    padding: 5px;
    box-sizing: border-box;
    @include first_style
}