.cost_table {
    width: 50vw;
}

.cost_element {
    display: flex;
    justify-content: space-around;
}

.cost_element_param {
    display: block;
}

.cost_headers {
    display: flex;
    justify-content: space-around;
}